@import 'reset';

.app {
  text-align: center;
}

.header {
  background-color: #282c34;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
  }
}

.title {
  color: white;
}

main {
  margin-top: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.grid {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: end;
  text-align: start;
  flex-direction: column;
  margin: 10px;
  width: 700px;
  height: 500px;
  border: 1px solid black;
}

.chat {
  overflow-y: scroll;

  &__item {
    padding: 10px;
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;

  &__message {
    width: 260px;
    height: 30px;
    margin: 5px;
    border-radius: 5px;
  }
}

.add-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 30px;
  margin: 5px;
}

.input {
  width: 120px;
  height: 36px;
  margin: 5px;
}